#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=20s

eval "$(devenv direnvrc)"

if type "op" >/dev/null 2>&1; then
	echo "Signing into 1Password..."
	op signin || {
		echo "Failed to signin to 1Password!"
	}
fi

# `use devenv` supports the same options as the `devenv shell` command.
#
# To silence all output, use `--quiet`.
#
# Example usage: use devenv --quiet --impure --option services.postgres.enable:bool true
use devenv
