/*
  ########################
  Start Chat Bot Common
  ########################
  */

.chatbotUI-header {
  @apply !m-0 !p-4;
  @apply h-16;
  @apply flex;
  @apply text-sm font-semibold;
  @apply bg-tresr-gold/90 backdrop-blur-md;
  @apply text-tresr-navy;
  @apply justify-between;
  @apply items-center;
  @apply z-50 shadow-sm;
}

/* Dark Mode */
.dark .chatbotUI-header {
  @apply bg-tresr-gray/90;
  @apply text-tresr-cream;
}

/* Chat Body */
.chatbotUI-body {
  @apply flex-grow;
  @apply !m-0 !p-4;
  @apply overflow-y-auto;
}

/* Chat Messages */
.chatbotUI-messages {
  @apply !m-0 !p-4;
}

/* Markdown Links in Chat */
.chatbotUI-messages a {
  @apply font-bold !underline decoration-2 underline-offset-2;
  @apply text-tresr-link;
  @apply hover:text-tresr-link-hover;
  @apply transition-colors duration-200;
}

.dark .chatbotUI-messages a {
  @apply text-tresr-link-dark;
  @apply hover:text-tresr-link-hover-dark;
}

/* Chat Input Form */
.chatbotUI-input-form {
  @apply !m-0 !p-4;
  @apply h-16;
  @apply flex;
  @apply text-sm font-medium;
  @apply !bg-white/80 !backdrop-blur-md;
  @apply !border-x-0 !border-t !border-b-0;
  @apply !border-tresr-input-border;
  @apply gap-2;
  @apply w-full;
  @apply sticky bottom-0;
  @apply z-[9999];
  @apply justify-between;
  @apply items-center;
  @apply space-x-4;
}

.dark .chatbotUI-input-form {
  @apply !bg-tresr-dark-background/80;
  @apply !border-tresr-input-border-dark;
}

.chatbotUI-input-box {
  @apply !m-0 !px-4 !py-2;
  @apply !space-x-4;
  @apply flex-grow;
  @apply rounded-full;
  @apply bg-tresr-input-bg;
  @apply text-tresr-input-text;
  @apply focus:ring-2 focus:outline-none;
  @apply focus:ring-tresr-link;
  @apply placeholder-tresr-placeholder;
  @apply border;
  @apply border-tresr-input-border;
}

.dark .chatbotUI-input-box {
  @apply !bg-[#111827];
  @apply !border-white/20;
  @apply placeholder-tresr-placeholder-dark;
  @apply text-tresr-input-text-dark;
}

/* Send Button in light mode */
.chatbotUI-send-button {
  @apply !m-0 !p-2;
  @apply !space-x-2;
  @apply !rounded-full !shadow-lg;
  @apply !cursor-pointer !font-bold;
  @apply transition duration-300 ease-in-out;
  @apply whitespace-nowrap;
  /* Colors */
  @apply hover:!bg-tresr-gold;
  @apply hover:!text-tresr-navy;
  @apply !bg-tresr-navy;
  @apply !text-tresr-gold;
}

/* Send Button in dark mode */
.dark .chatbotUI-send-button {
  /* Colors */
  @apply hover:!bg-tresr-gold;
  @apply hover:!text-tresr-navy;
  @apply !bg-tresr-navy;
  @apply !text-tresr-gold;
}

/* Bitcoin Loader */
.chatbotUI-loader {
  /* Base styles */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  /* Size */
  width: 10vw;
  height: 10vw;
  max-width: 100px;
  max-height: 100px;
  min-width: 50px;
  min-height: 50px;

  /* Center the content (Bitcoin symbol) */
  display: flex;
  justify-content: center;
  align-items: center;

  /* 3D effects */
  -webkit-backface-visibility: hidden; /* Hide backface */
  -moz-backface-visibility: hidden; /* Hide backface */
  backface-visibility: hidden; /* Hide backface */
  transform-style: preserve-3d;

  /* Animation */
  animation: spin_coin 3s infinite linear;
  transition: all 0.3s ease-in-out;
}

/* Front of the Coin */
.chatbotUI-loader::before {
  /* Appearance */
  background: linear-gradient(
    var(--color-tresr-loader-start),
    var(--color-tresr-loader-end)
  );
  color: var(--color-tresr-dark-text-color);
  content: "₿";
  font-size: 5rem;
  border-radius: 50%;
  width: 100%;
  height: 100%;

  /* Center the logo */
  align-items: center;
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  /* Visibility */
  z-index: 9999;
}

/* Back of the Coin */
.chatbotUI-loader::after {
  /* Appearance */
  background: linear-gradient(
    var(--color-tresr-loader-start),
    var(--color-tresr-loader-end)
  );
  content: "₿";
  color: var(--color-tresr-dark-text-color);
  font-size: 5rem;
  border-radius: 50%;
  width: 100%;
  height: 100%;

  /* Center the logo */
  align-items: center;
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);

  /* Visibility */
  z-index: 9999;
}

/* Show the Loader */
.chatbotUI-loader.show {
  opacity: 1;
  visibility: visible;
}

/* Hide the Loader */
.chatbotUI-loader.hide {
  opacity: 0;
  visibility: hidden;
}

/* Spin the coin */
@keyframes spin_coin {
  100% {
    transform: translate(-50%, -50%) rotateY(360deg);
  }
}

/*
  ########################
  End Chat Bot Common
  ########################
  */

/*
  ########################
  Start Chat Bot Fullscreen Mode
  ########################
  */

.chatbotUI-container--fullscreen {
  @apply bg-tresr-input-bg;
  @apply flex flex-col;
  @apply scale-100 !opacity-100;
  @apply !visible;
  @apply h-screen w-screen;
}

.dark .chatbotUI-container--fullscreen {
  @apply bg-tresr-dark-background;
}

/*
  ########################
  End Chat Bot Fullscreen Mode
  ########################
  */

/*
  ########################
  Start Chat Bot Widget Mode
  ########################
  */

.chatbotUI-container--widget {
  @apply bg-tresr-input-bg;
  @apply right-5 bottom-16;
  @apply rounded-lg shadow-lg;
  @apply transform transition-all duration-300 ease-in-out;
  @apply z-[9999];
  @apply fixed w-96 max-w-sm;
  min-height: 75vh;
  max-height: 75vh;
}

/* Dark Mode */
.dark .chatbotUI-container--widget {
  @apply bg-tresr-dark-background;
}

/* Show the Widget Container */
.chatbotUI-container--widget.show {
  @apply !scale-100 !opacity-100;
  @apply !visible;
  @apply flex flex-col;
}

/* Hide the Widget Container */
.chatbotUI-container--widget.hide {
  @apply !scale-0 !opacity-0;
  @apply !hidden;
  display: none;
}

/* Mobile Optimization */
@media (max-width: 640px) {
  /* Widget Mode */
  .chatbotUI-container--widget {
    @apply bottom-0 h-full w-full;
    @apply rounded-none;
  }
}

/* Chatbot UI toggle button for the widget */
.chatbotUI-toggle-button {
  @apply fixed right-5 bottom-20;
  @apply rounded-full shadow-sm;
  @apply text-sm;
  @apply text-tresr-dark-text-color;
  @apply bg-tresr-primary;
  @apply transform transition-all duration-300 ease-in-out;
  @apply z-[9999];
  @apply p-4;
  font-size: 24px;
  font-family: "Noto Color Emoji", sans-serif;
}

/* Dark Mode */
.dark .chatbotUI-toggle-button {
  @apply bg-tresr-dark-primary;
}

/* Show the toggle button */
.chatbotUI-toggle-button.show {
  @apply !opacity-100;
  @apply !visible;
  display: block;
}

/* Hide the toggle button */
.chatbotUI-toggle-button.hide {
  @apply !opacity-0;
  @apply !hidden;
  display: none;
}

/* Close Button for Widget Mode */
.chatbotUI-close-button {
  @apply p-4;
  @apply rounded-full shadow-sm;
  @apply text-sm;
  @apply bg-tresr-primary;
  @apply text-tresr-title-color;
  @apply hover:text-tresr-light;
  @apply cursor-pointer;
}

/*
  ########################
  End Chat Bot Widget Mode
  ########################
  */
