@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
}

@layer utilities {
  /* Avatar & Message Bubble */
  .avatarImg {
    @apply rounded-full;
    width: 24px;
    height: 24px;

    /* Responsive sizes */
    @apply sm:w-16 sm:h-16;
    @apply md:w-16 md:h-16;
    @apply lg:w-16 lg:h-16;
    @apply xl:w-16 xl:h-16;
    @apply 2xl:w-16 2xl:h-16;
  }

  /* Left aligned avatar */
  .avatarImg-left {
    @apply float-left mr-2 clear-left avatarImg;
  }

  /* Right aligned avatar */
  .avatarImg-right {
    @apply float-right clear-right ml-2 avatarImg;
  }

  .messageBubble-container {
    @apply m-2.5 p-2.5 relative overflow-y-auto flex flex-col;
    @apply z-40;
  }

  .messageBubble {
    @apply px-4 py-2 my-2 break-words rounded-lg shadow;
    @apply bg-nftreasure-bubble-bg;
    @apply text-nftreasure-bubble-text;
    @apply z-50;
    width: fit-content;
    max-width: 90%;
  }

  .dark .messageBubble {
    @apply bg-nftreasure-dark-bubble-bg;
    @apply text-nftreasure-dark-bubble-text;
  }

  /* Message bubble for left-side conversation */
  .messageBubble-left {
    @apply flex self-start justify-center w-auto ml-0 mr-auto messageBubble left-6;
  }

  /* Message bubble for right-side conversation */
  .messageBubble-right {
    @apply flex self-start justify-center w-auto ml-auto mr-0 messageBubble right-6;
  }
}
