@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
}

@layer utilities {
  /*
  ChatBot Widget Mode
  */

  .chatbotUI-container--widget {
    @apply bg-nftreasure-input-bg;
    @apply dark:bg-nftreasure-dark-background;
    @apply fixed w-96 max-w-sm;
    @apply bottom-16 right-5;
    @apply rounded-lg shadow-lg;
    @apply transform transition-all duration-300 ease-in-out;
    @apply z-[9999];
    @apply p-2;
    height: 500px;
  }

  /* Dark Mode */
  .dark .chatbotUI-container--widget {
    @apply bg-nftreasure-dark-background;
  }

  /* Show the Widget Container */
  .chatbotUI-container--widget.show {
    @apply opacity-100 scale-100 !important;
    @apply visible !important;
    display: flex !important;
    flex-direction: column;
  }

  /* Hide the Widget Container */
  .chatbotUI-container--widget.hide {
    @apply opacity-0 scale-0 !important;
    @apply hidden !important;
    display: none !important;
  }

  /*
  Mobile Optimization
  */

  @media (max-width: 640px) {
    /* Widget Mode */
    .chatbotUI-container--widget {
      @apply w-full h-full bottom-0;
      @apply rounded-none;
    }
  }

  /*
  Chatbot UI toggle button for the widget
  */

  .chatbotUI-toggle-button {
    @apply fixed bottom-20 right-5;
    @apply rounded-full shadow-lg;
    @apply text-sm;
    @apply text-nftreasure-dark-text-color;
    @apply bg-nftreasure-primary;
    @apply transform transition-all duration-300 ease-in-out;
    @apply z-[9999];
    @apply p-4;
  }

  /* Dark Mode */
  .dark .chatbotUI-toggle-button {
    @apply bg-nftreasure-dark-primary;
  }

  /* Show the toggle button */
  .chatbotUI-toggle-button.show {
    @apply opacity-100 !important;
    @apply visible !important;
    display: block;
  }

  /* Hide the toggle button */
  .chatbotUI-toggle-button.hide {
    @apply opacity-0 !important;
    @apply hidden !important;
    display: none;
  }

  /*
  Close Button for Widget Mode
  */

  .chatbotUI-close-button {
    @apply p-2;
    @apply rounded-full shadow-lg;
    @apply text-sm;
    @apply bg-nftreasure-primary;
    @apply text-nftreasure-title-color;
    @apply hover:text-nftreasure-light;
    @apply cursor-pointer;
  }
}
