@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
}

@layer utilities {
  /*
  Header for the chat container
  */

  .chatbotUI-header {
    @apply p-2 text-sm font-semibold;
    @apply text-center;
    @apply bg-nftreasure-gold;
    @apply text-nftreasure-navy;
    @apply flex items-center justify-between;
  }

  /* Dark Mode */
  .dark .chatbotUI-header {
    @apply bg-nftreasure-gray;
    @apply text-nftreasure-cream;
  }

  /*
  Chat Body
  */

  .chatbotUI-body {
    @apply flex-grow;
    @apply overflow-y-auto;
  }

  /*
  Chat Messages
  */

  .chatbotUI-messages {
    @apply overflow-y-auto;
    @apply p-2 space-y-1;
  }

  /* Markdown Links in Chat */
  .chatbotUI-messages a {
    @apply text-nftreasure-link;
    @apply hover:text-nftreasure-link-hover;
    @apply dark:text-nftreasure-link-dark;
    @apply dark:hover:text-nftreasure-link-hover-dark;
    @apply transition-colors duration-200;
  }

  /*
  Chat Input Form
  */

  .chatbotUI-input-form {
    @apply flex items-center;
    @apply bg-nftreasure-bubble-bg;
    @apply rounded-lg;
    @apply border border-nftreasure-input-border;
    @apply w-full;
    @apply sticky bottom-0;
    @apply z-[9999];
    @apply px-2 py-2;
    @apply space-x-2 space-y-2;
  }

  /* Dark Mode */
  .dark .chatbotUI-input-form {
    @apply border-nftreasure-input-border-dark;
    @apply bg-nftreasure-dark-light;
    @apply border-nftreasure-input-border-dark;
  }

  /*
  Chat Input Box
  */

  .chatbotUI-input-box {
    @apply flex-grow;
    @apply px-2 py-2 rounded-l-lg;
    @apply bg-nftreasure-input-bg;
    @apply text-nftreasure-input-text;
    @apply focus:outline-none focus:ring-2;
    @apply focus:ring-nftreasure-link;
    @apply placeholder-nftreasure-placeholder;
    @apply border;
    @apply border-nftreasure-input-border;
  }

  .dark .chatbotUI-input-box {
    @apply bg-nftreasure-dark-background;
    @apply border-nftreasure-input-border-dark;
    @apply placeholder-nftreasure-placeholder-dark;
    @apply text-nftreasure-input-text-dark;
  }

  /*
  Send Button
  */

  .chatbotUI-send-button {
    @apply px-2 py-2 rounded-full shadow-lg;
    @apply text-nftreasure-dark-text-color;
    @apply bg-nftreasure-primary;
    @apply hover:bg-nftreasure-dark-primary;
    @apply cursor-pointer font-bold;
    @apply transition duration-300 ease-in-out;
    @apply whitespace-nowrap;
  }

  /* Dark Mode */
  .dark .chatbotUI-send-button {
    @apply text-nftreasure-dark-text-color;
    @apply bg-nftreasure-dark-primary;
    @apply hover:bg-nftreasure-primary;
  }

  /* Bitcoin Loader */
  .chatbotUI-loader {
    /* Base styles */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    /* Size */
    width: 100px;
    height: 100px;

    /* Center the content (Bitcoin symbol) */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 3D effects */
    -webkit-backface-visibility: hidden; /* Hide backface */
    -moz-backface-visibility: hidden; /* Hide backface */
    backface-visibility: hidden; /* Hide backface */
    transform-style: preserve-3d;

    /* Animation */
    animation: spin_coin 3s infinite linear;
    transition: all 0.3s ease-in-out;
  }

  /* Front of the Coin */
  .chatbotUI-loader::before {
    /* Appearance */
    background: linear-gradient(
      theme("colors.nftreasure-loader-start"),
      theme("colors.nftreasure-loader-end")
    );
    color: theme("colors.nftreasure-dark-text-color");
    content: "₿";
    font-size: 5rem;
    border-radius: 50%;
    width: 100%;
    height: 100%;

    /* Center the logo */
    align-items: center;
    display: flex;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    /* Visibility */
    z-index: 9999;
  }

  /* Back of the Coin */
  .chatbotUI-loader::after {
    /* Appearance */
    background: linear-gradient(
      theme("colors.nftreasure-loader-start"),
      theme("colors.nftreasure-loader-end")
    );
    content: "₿";
    color: theme("colors.nftreasure-dark-text-color");
    font-size: 5rem;
    border-radius: 50%;
    width: 100%;
    height: 100%;

    /* Center the logo */
    align-items: center;
    display: flex;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotateY(180deg);

    /* Visibility */
    z-index: 9999;
  }

  /* Show the Loader */
  .chatbotUI-loader.show {
    opacity: 1;
    visibility: visible;
  }

  /* Hide the Loader */
  .chatbotUI-loader.hide {
    opacity: 0;
    visibility: hidden;
  }

  /* Spin the coin */
  @keyframes spin_coin {
    100% {
      transform: translate(-50%, -50%) rotateY(360deg);
    }
  }
}
